body {
  margin: 10px;
  background-image: url("../images/hack.jpg");
  background-size: cover; /* Para ajustar la imagen al tamaño de la pantalla */
  background-repeat: no-repeat; /* Para evitar que la imagen se repita */
}

.container {
  width:800px;
  margin:0 auto;
}

.direction {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.barra {
  background-color:#000000;
  color: #ffffff;
  font-size: 20px;
  height: 20px; width: 700px;
}



.boton{
    color:red;
    font-size: 40px;
    background-color: #000000;
    cursor: pointer;
    border-radius: 8px;
    border:2px solid blue;
}

.boton:hover{
    background-color: white;
    color: #000000;
}